<nav class="navbar navbar-expand-lg">
    <div class="logout">
        <i class="clickLogout material-icons">exit_to_app</i>
    </div>
    <div class="container">
        <a class="navbar-brand" href="index.html"><h2>Sports <em>clothing store</em></h2></a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="~/Products/Index">
                        Home

                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="~/Pro/Index"> Our Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="~/About/Index"> About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="~/Contact/Index"> Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Cart/Index">
                        <div class="cart-btn">
                            <span class="nav-icon">
                                <i class="fas fa-cart-plus"></i>
                            </span>
                            <div class="cart-items">0</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>