
@model IEnumerable<web_baiTapLon.data.dtSanPham>
@{
    ViewBag.Title = "wellcom";
    Layout = "~/Views/Shared/chung.cshtml";
}


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="latest-products">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img class="fitanh" src="~/Content/images/@item.Img" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>@item.TenSP</h4></a>

                            <h6>@item.DonGiaBan</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>





